<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="include :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>记事本EVER</title>
</head>
<link rel="stylesheet" href="/css/index.css">
<body style="overflow: hidden">
<div class="container-fluid" style="background-color: #555">
    <div class="row" style="background-color: #0f0f0f">
        <div style="margin-left: 25%;float: left;margin-top: 2px">
            <a class="btn btn-sm btn-success" href="/skip/user/noPre">个人中心 <i class="fa fa-user-circle"></i></a>
        </div>
        <div class="nav-title">
            <span>我的主页</span>
        </div>
        <div class="nav-title">
            <span>好友</span>
        </div>
        <div class="nav-title">
            <span>游戏</span>
        </div>
        <div class="nav-title">
            <span>装扮</span>
        </div>
        <div style="float: right">
            <a style="color: white;" class="btn" href="/logout">退出</a>
        </div>
    </div>
    <div class="row" style="background-color: #888;text-align: center">
        <span style="font-size: 40px">记录生活</span>
        &emsp;
        <button data-toggle="modal" data-target="#myModal">
            <i class="fa fa-2x fa-plus-circle"></i>
        </button>
    </div>
</div>
<div class="div_main">
    <div class="div_content-main" id="mainInfo"></div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    写点什么...
                </h4>
            </div>
            <div class="modal-body">
                <textarea type="text" class="form-control" id="content"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="sub()">
                    记录
                </button>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script>
    function getList() {
        $.ajax({
            url: '/life/record/getMyRecords',
            type: 'get',
            success: function (res) {
                if (res.code == 200) {
                    var data = res.data;
                    var _html = '';
                    for (var i = 0; i < data.length; i++) {
                        _html += '<div class="content-main">\n' +
                            '            <div class="content-main-1">\n' +
                            '                <font size="2" class="content-detail">' + data[i].content + '</font>\n' +
                            '            </div>\n' +
                            '            <div class="content-main-2">\n' +
                            '                <font size="1">' + data[i].createTime + '</font>\n' +
                            '            </div>\n' +
                            '        </div>';
                    }
                    $("#mainInfo").html(_html);
                }
            }
        })
    }

    getList();

    function sub() {
        var content = $("#content").val();
        if (!content) {
            layer.msg("没有输入内容哦");
            return;
        }
        $.ajax({
            url: '/life/record/addRecord',
            type: 'post',
            data: {content: content},
            success: function (res) {
                console.log(res)
                if (res.code == 200) {
                    $('#myModal').modal('hide')
                    setTimeout(function () {
                        getList();
                        layer.msg("记录成功");
                    }, 100)
                } else {
                    layer.msg("记录失败")
                }
            },
            error: function () {
                layer.msg("网络开小差了~")
            }
        })
    }
</script>
</body>
</html>