<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="include :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>记事本EVER</title>
</head>
<link rel="stylesheet" href="/css/index.css">
<body style="margin:0;">
<div class="div_nav">
    <div class="div_headline1" style="margin-left:10%;"></div>

    <div class="div_headline1">
        <div class="div_headline3">
            <a class="btn btn-sm btn-success" href="/skip/user/noPre">个人中心 <i class="fa fa-user-circle"></i></a>
        </div>
    </div>

    <div class="div_headline1">
        <div class="div_headline3"><font size="1" color="white">我的主页</font></div>
    </div>

    <div class="div_headline1">
        <div class="div_headline3"><font size="1" color="white">好友</font></div>
    </div>

    <div class="div_headline1">
        <div class="div_headline3"><font size="1" color="white">游戏</font></div>
    </div>

    <div class="div_headline1">
        <div class="div_headline3"><font size="1" color="white">装扮</font></div>
    </div>

    <div style="float: right">
        <div class="div_headline3">
            <a style="color: white;" class="btn" href="/logout">退出</a>
        </div>
    </div>
</div>
<div class="div_title">
    <div>
        <font size="6" color="white">记录生活</font>
        &emsp;
        <button>
            <i class="fa fa-2x fa-plus-circle"></i>
        </button>
    </div>
</div>
<div class="div_main">
    <div class="div_content-main">
        <div class="content-main">
            <div class="content-main-1">
                <font size="2" class="content-detail">SN惨败，DWG夺冠！！</font>
            </div>
            <div class="content-main-2">
                <font size="1">2020-10-31 22:00</font>
            </div>
        </div>
        <div class="content-main">
            <div class="content-main-1">
                <font size="2" class="content-detail">太冷了，今天不洗澡</font>
            </div>
            <div class="content-main-2">
                <font size="1">2020-11-1 18:00</font>
            </div>
        </div>
        <div class="content-main">
            <div class="content-main-1">
                <font size="2" class="content-detail">特朗普大战盖伦！！</font>
            </div>
            <div class="content-main-2">
                <font size="1">2020-11-8 12:25</font>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script>

</script>
</body>
</html>