<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8">
    <meta content="no-cache">
    <meta content="0">
    <title>记事本EVER</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/js/bootstrap-3.3.7/css/bootstrap.min.css">
</head>

<body style="background:#93defe; background-size: cover;">
<div class="wrapper" style="height: 70%">
    <div class="row" style="margin-top: 10%">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <img src="/imgs/login-img.png" style="background: no-repeat"/>
        </div>
        <div class="col-sm-3">
            <div class="login">
                <div class="login_logo"><a href="#"><img src="/imgs/login_logo.png" /></a></div>
                <div class="login_name">
                    <p>记事本EVER</p>
                </div>
                <form id="form">
                    <input name="username" type="text"  value="用户名" onfocus="this.value=''" onblur="if(this.value==''){this.value='用户名'}">
                    <span id="password_text" onclick="this.style.display='none';document.getElementById('password').style.display='block';" >密码</span>
                    <input name="password" type="password" id="password" style="display:none;" onblur="if(this.value==''){document.getElementById('password_text').style.display='block';this.style.display='none'};"/>
                    <input value="登录" style="width:100%;" type="button" onclick="login()">
                    <div style="width:100%;margin-top: 5px;text-align: right">
                        <a>忘记密码</a>
                        <a href="/skip/user/addUser" style="margin-left: 5px">注册</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
<div style="margin-bottom: 0;padding-bottom:0;text-align: center;height: 10%">
    <a href="http://beian.miit.gov.cn">京ICP备2020042586号</a>
</div>
<script src="/js/jquery.min.js"></script>
<script>
    function login() {
        $.ajax({
            url:'/login',
            type:'post',
            data:$('#form').serialize(),
            success:function (data) {
              if (data.code==200){
                location.href='/index'
              } else {
                  alert(data.msg)
              }
            },
            error:function () {
                alert("登陆失败")
            }
        })
    }
</script>
</body>
</html>
